# TechDraw3D
# Copyright © 2020 Tomasz Nowak, Mateusz Dera, Jakub Schwarz

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>

# bpy dependences
astroid
bleach
bpy-build
certifi
chardet
cmake
cmake-generators
colorama
docutils
future-fstrings
gitdb
GitPython
idna
importlib-metadata
isort
keyring
lazy-object-proxy
mccabe
nose
packaging
pkginfo
Pygments
pylint
pyparsing
python-dateutil
pywin32-ctypes
readme-renderer
requests
requests-toolbelt
rope
six
scikit-build
smmap
svn
toml
tqdm
twine
typed-ast
urllib3
webencodings
wrapt
zipp
wheel
# PyMesh dependences
scipy
numpy
# bpy library
# bpy
# other python packages
simple-term-menu
svgpathtools
dxf2svg
ezdxf